//
// Form validation
//

// Validation

.has-success,

.has-success {
    &:after {
        content: "\ea26";
        color: daken($form-feedback-valid-color, 18%);
        background-color: $form-feedback-valid-bg;
    }
    
    .form-control {
        background-color: $input-focus-bg;

        &:focus {
            border-color: $input-focus-border-color;
        }


        // Placeholder

        &::placeholder {
            color: $form-feedback-valid-color;
        }
    }
}

